/*------------------------------------
Stylesheet for the validatin_form rails plugin
http://www.mattsears.com/code/validating_form

Version /  1.0
Author / Matt Sears
email / matt@mattsears.com
website / www.mattsears.com
-------------------------------------*/

input.validation-failed, textarea.validation-failed {
	border: 1px solid #0000cc !important;
}

.validation-advice {
	color : #000;
	text-align: left;
	background-color: #f9ffd3;
	font-weight: bold;
	font-size: 10pt;
}